name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
  workflow_dispatch:

jobs:
  eslint:
    name: Eslint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm run lint
  prettier:
    name: Prettier
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm run format
  conventional_commits:
    name: Conventional Commits
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Run conventional commits
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
          npm install
          echo "$TITLE" | npx commitlint
  tests:
    name: Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm test -- run
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: ./build.sh
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        id: dist-artifact
        with:
          name: dist-${{ github.sha }}
          path: dist
          retention-days: 7
