name: Scans

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  sbom:
    name: SBOM
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Update Dependency Graph
        uses: aquasecurity/trivy-action@0.34.0
        with:
          scan-type: fs
          scan-ref: .
          format: github
          output: sbom.spdx.json
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate Sarif Report
        uses: aquasecurity/trivy-action@0.34.0
        with:
          scan-type: fs
          scan-ref: .
          format: sarif
          output: trivy.sarif.json
      - name: Upload report to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy.sarif.json

  release:
    name: Release
    runs-on: ubuntu-24.04
    if: github.event_name == 'release'
    steps:
      - uses: actions/checkout@v6
      - name: Generate CycloneDX SBOM
        uses: aquasecurity/trivy-action@0.34.0
        with:
          scan-type: fs
          scan-ref: .
          format: cyclonedx
          output: nethsecurity-ui.cdx.json
      - name: Attach SBOM Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} nethsecurity-ui.cdx.json
